# Decision Tree Challenge

* Problem : Decision Tree
* Description : Given dataset build decision tree and imporve it by using ensemble
* Dataset : 5 numeric columns and 7 categorical columns
    * Numeric columns : 'Passengerid', 'Age', 'SibSp', 'Parch', 'Fare'
    * Categorical columns : 'Survived', 'Pclass', 'Name', 'Sex', 'Ticket', 'Cabin', 'Embarked'
    * Target value : Survival of passengers
* Requirement 
    * Split target values from dataset
    * Preprocess missing values
    * Provide evaluation score of train/validation set respectively.
* Evaluation Metric
    * You should select an appropriate metric, and evaluate your model on it.

In [1]:
import pandas as pd
import matplotlib.pyplot as plt

# Load Data

In [18]:
train = pd.read_csv('train.csv')
test_x = pd.read_csv('test.csv')
test_y = pd.read_csv('gender_submission.csv')

Passsengerid - Id of passengers <br>
Survival - Survival. 0 = No, 1 = Yes <br>
Pclass - Ticket class. 1 = 1st, 2 = 2nd, 3 = 3rd <br>
Name - Name of passengers <br>
Sex - Sex. <br>
Age - Age in years. <br>
SibSp - # of siblings / spouses aboard the Titanic. <br>
Parch - # of parents / children aboard the Titanic. <br>
Ticket - Ticket number. <br>
Fare - Passenger fare. <br>
Cabin - Cabin number. <br>
Embarked - Port of Embarkation. C = Cherbourg, Q = Queenstown, S = Southampton <br>

In [19]:
print('Train shape :', train.shape)
print('Test.shape :', test_x.shape)
display(train.head())

Train shape : (891, 12)
Test.shape : (418, 11)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [20]:
print('Data shape :', test_y.shape)
display(test_y.head())

Data shape : (418, 2)

   PassengerId  Survived
0          892         0
1          893         1
2          894         0
3          895         0
4          896         1

# Build Your Model

### Example
    model = Arbitrarymodel()
    model.fit(train_x)

# Evaluate Your Model

### Example
    y_hat = model.predict(test_x)
    print('Test accuracy : %.2f' % Evaluation_metric_of_your_choice(test_y, y_hat))